<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View User</title>
  <link rel="stylesheet" href="/JSBootstrapFile/css/bootstrap.css">
  <link rel="stylesheet" href="/fonter/css/all.min.css">
  <style>
    input {
      background: none;
      outline: none;
      border: none;
      font-weight: 500;
    }
  </style>
</head>

<body style="background-color: rgb(230, 240, 252); font-weight: 600;">
  <%- include('../components/nav1.ejs',{addnone:"block"}) %>
  <form action="/edit/<%= arr._id %>?_method=PUT" method="post">
    <p class="d-none" id="date_today">
    </p>
    <p class="d-none" id="data_req">

    </p>
    <input class="d-none" name="arrinvoce" type="text" value="<%= arr.arrinvoce %>" id="inp_ReqAdd_invoice">



      <div class="container mt-3" style="direction: rtl;">
        <div>
          <div>الاسم:<input type="text" value="<%= arr.name %>" name="name" readonly></div>
          <div>العنوان:<input type="text" value="<%= arr.addres %>" name="addres" readonly></div>
          <div>الهاتف:<input type="text" value="<%= arr.phone %>" name="phone" readonly></div>
          <div class="d-none">invoicesprice:<input type="number" id="inp_allinvoice" value="<%= arr.invoicesprice %>" name="invoicesprice" readonly></div>
          <div class="d-none">invoicespay:<input type="number" id="inp_paymoney" value="<%= arr.invoicespay %>" name="invoicespay" readonly></div>


        </div>

        <!-- style requst invoice -->
        <% if (arr.arrinvoce !='' ){ %>

          <% let arrlop=JSON.parse(arr.arrinvoce) %>

            <% for( let index=0; index < arrlop.length; index++ ) { %>

                    <ul class="list-group mb-4 mt-4
                    <%= index == arrlop.length-1 ? "opacity-100 shadow-lg bg-body-tertiary rounded" : "" %>"
                    style="padding: 0px; <%= index != arrlop.length-1 ? "opacity:65%;" : "" %>"
                    >

                      <!-- top invoce -->
                      <li
                        class="list-group-item d-flex justify-content-between align-items-center list-group-item-primary border border-1 border-primary mb-1">
                        <div style="width: 50%; text-align: center;">
                          الوصف
                        </div>
                        <div class="vr"></div>

                        <div style="width: 50%; text-align: center;">
                          المبلغ
                        </div>
                        <div class="vr"></div>

                        <div style="width: 50%; text-align: center;">
                          اخراج والوقت
                        </div>
                      </li>


                      <!--** body invoce **-->
                      <% for( let i=0; i < arrlop[index].description.length; i++ ) { %>

                        <div>
                          <li class="list-group-item d-flex justify-content-between align-items-center <%= arrlop[index].description[i] == "تسديد مبلغ" ? "list-group-item-success" : "" %> <%= arrlop[index].description[i] == "الفاتورة السابقة" ? "list-group-item-warning" : "" %> <%= arrlop[index].description[i] != "الفاتورة السابقة" && arrlop[index].description[i] != "تسديد مبلغ" ? "list-group-item-danger" : "" %>">
                            <div style="width: 50%; text-align: center;" id="inv_Ms"><%=arrlop[index].description[i]%></div>
                            <div class="vr"></div>
                            <div style="width: 50%; text-align: center;" id="inv_Ms"><%= arrlop[index].money[i] %></div>
                            <div class="vr"></div>
                            <div class="dropend" style="width: 50%; text-align: center;">
                              <button style="border: none; outline: none; background: none; font-weight: 500;"
                                data-bs-toggle="dropdown">
                                <%= arrlop[index].user[i] %>
                              </button>
                              <div class="dropdown-menu" style="width: 1%; background: none; border: none;">
                                <p
                                  style="background-color: rgb(68, 0, 0); width: auto; margin-right: 100px; text-align: center; color: #ffffff; border-radius: 18px;">
                                  <%= arrlop[index].dateofregistration[i] %>
                                </p>
                              </div>
                            </div>
                          </li>
                        </div>

                        <% } %>
                          <!--** body invoce **-->


                          <!-- end invoce -->
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary border border-1 border-secondary-subtle mt-1">
                            <div class="" style="width: 50%; text-align: center;" id="date">
                              <%= arrlop[index].date %>
                            </div>
                            <div class="" style="background-color: black; font-size: 2px; height: 22px;">|</div>
                            <div style="width: 50%; text-align: center;">
                              الاجمالي:
                              <small class="text-danger">
                                <%= arrlop[index].total %>
                              </small>
                            </div>
                          </li>

                    </ul>

                      <% } %>
                        <% } %>

                          <!-- style add invoice -->
                          <ul class="list-group mt-4 d-none" id="inv_new" style="left: 20px; position: relative;">

                            <!-- top invoce -->
                            <li class="list-group-item d-flex justify-content-between align-items-center" id="dis_mode">
                              <div style="width: 50%; text-align: center;">
                                الوصف
                              </div>
                              <div class="vr"></div>

                              <div style="width: 50%; text-align: center;">
                                المبلغ
                              </div>
                            </li>


                            <!--** body invoce **-->
                            <div id="d_1">
                            </div>
                            <!--** body invoce **-->


                            <!-- end invoce -->
                            <li
                              class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
                              <div style="width: 50%; text-align: center; color: rgb(0, 110, 46);" id="date">

                              </div>

                              <button id="btn_addinv" type="button" onclick="addinp(G_invoce = 'inv_unprice')"
                                class="btn btn-warning rounded-circle"><i class="fa-solid fa-plus"></i></button>

                              <div style="width: 50%; text-align: center;">
                                الاجمالي:
                                <small class="text-danger" id="total_inv">
                                  0
                                </small>
                              </div>
                            </li>

                          </ul>

      </div>


      <ul class="list-group" style="margin-top: 180px;">
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-light"
          style="position: fixed; bottom: 0px; width: 100%; height: 50px;">
          <div style="width: 45%; text-align: center; color: rgb(0, 110, 46);">
            <button type="button" class="btn btn-success w-100" id="btn_whats" data-="<%= arr.phone %>">
              <i class="fa-brands fa-whatsapp fa-xl" style="color: #ffffff;"></i>
              WhatsApp
            </button>
            <a class="d-none" role="button" id="btn_save" onclick="datapost()">حفظ التغييرات</a>
          </div>

          <!-- <button class=" rounded-circle" style="position: relative; bottom: 30px;background: linear-gradient(to right, #0f0094,rgb(0, 32, 102)); border: none; transform: scale(1.5);"><i class="fa-solid fa-plus" style="color: #FFD43B;"></i></button> -->

          <div style="width: 45%; text-align: center;" id="gro_btn_invoice">

            <div class="dropup-center dropup" id="btn_section" style="width: 100%;">
              <button style="width: 100%; font-weight: 600; letter-spacing: 1.1px;" class="btn btn-danger" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-sack-dollar fa-lg" style="color: #ffffff;"></i>
                <%= arr.invoicesprice - arr.invoicespay%>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button type="button" id="inv_price" onclick="addinp(this.id)"
                    class="dropdown-item text-center text-success" style="font-weight: 600;">
                    <i class="fa-solid fa-hand-holding-dollar" style="color: #198754;"></i>
                    تسديد مبلغ
                  </button>
                </li>

                <li>
                  <button type="button" id="inv_unprice" onclick="addinp(this.id)"
                    class="dropdown-item text-center text-danger" style="font-weight: 600;">
                    <i class="fa-solid fa-file-circle-plus" style="color: #dc3545;"></i>
                    اضافة فاتورة
                  </button>
                </li>

              </ul>
            </div>

            <a class="d-none" href="/view/<%= arr._id %>" role="button" id="btn_close"> الغاء </a>
          </div>
          
        </li>
      </ul>
      <button class="d-none" type="submit" id="myForm" onclick="console.log('hello')"></button>
  </form>



  <script src="/JSBootstrapFile/popper/popper.js"></script>
  <script src="/JSBootstrapFile/js/bootstrap.js"></script>

  <script>

    let datetoday = document.getElementById('date_today').innerHTML.split("|")
    let datetoday1 = document.getElementById('date_today').innerHTML.split("|")
    let btnprice = document.getElementById("inv_price")
    let btnunprice = document.getElementById("inv_unprice")
    let InvNew = document.getElementById("inv_new")
    let InvNewinp = document.getElementById(`d_1`)
    let btnsave = document.getElementById(`btn_save`)
    let btnwhats = document.getElementById(`btn_whats`)
    let dismode = document.getElementById(`dis_mode`)
    // let grobtninvoice = document.getElementById(`gro_btn_invoice`)
    let btnsection = document.getElementById(`btn_section`)
    let btnclose = document.getElementById(`btn_close`)
    let btnaddinv = document.getElementById(`btn_addinv`)

    let index = 0;
    let arrindex = 0;
    let OptInvoice;

    function addinp(G_invoce) {

      OptInvoice = G_invoce



      btnsave.className = 'btn btn-primary w-100'
      btnclose.className = 'btn btn-danger w-100'
      btnwhats.className = 'd-none'
      btnsection.className = 'd-none'

      InvNew.className = 'list-group mt-4'

      // console.log('1')

      const newLi = document.createElement('li');

      newLi.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'align-items-center', 'mt-2', 'mb-2');

      const newInputmoney = document.createElement('input');
      const newInputtitle = document.createElement('input');

      if (G_invoce == 'inv_price') {
        arrindex++
        newLi.classList.add('list-group-item-success');
        dismode.classList.add('list-group-item-success');
        newInputtitle.value = 'تسديد مبلغ'
        newInputtitle.style.fontWeight = '600'
        newInputtitle.readOnly = true
        btnaddinv.style.display = 'none'
        setarr("تسديد مبلغ", "inv_text_0")
      }






      newLi.id = `inp_${index}`;

      newInputtitle.classList.add('inp_invoice_text');
      newInputtitle.type = 'text';
      newInputtitle.style.width = '50%';
      newInputtitle.style.textAlign = 'center';
      newInputtitle.style.background = 'none';
      newInputtitle.style.border = 'none';
      newInputtitle.style.outline = 'none';
      newInputtitle.placeholder = ' الوصف '
      newInputtitle.type = 'text'
      newInputtitle.id = `inv_text_${index}`
      newInputtitle.setAttribute("onkeyup", "setarr(this.value,this.id)")
      // newInputtitle.setAttribute("required", "");
      newInputtitle.setAttribute("autocomplete", "off");




      newInputmoney.classList.add('inp_invoice_num');
      newInputmoney.type = 'text';
      newInputmoney.style.width = '50%';
      newInputmoney.style.textAlign = 'center';
      newInputmoney.style.background = 'none';
      newInputmoney.style.border = 'none';
      newInputmoney.style.outline = 'none';
      newInputmoney.placeholder = ' المبلغ '
      newInputmoney.type = 'number'
      newInputmoney.id = `inv_num_${index}`
      newInputmoney.setAttribute("onkeyup", "setarr(this.value,this.id)")
      // newInputmoney.setAttribute("onkeyup", "plusarr()")
      // newInputmoney.setAttribute("required", "");



      const vrDiv = document.createElement('div');
      vrDiv.classList.add('vr');

      newLi.appendChild(newInputtitle);
      newLi.appendChild(vrDiv);
      newLi.appendChild(newInputmoney);
      
      
      if (G_invoce == 'inv_unprice') {
        arrindex++
        newLi.classList.add('list-group-item-danger');
        dismode.classList.add('list-group-item-danger');
        addbtndelete()
      }

      function addbtndelete() {
        const deleteBtn = document.createElement('button');
        deleteBtn.innerHTML = '<i class="fa-regular fa-circle-xmark fa-lg" style="color: #ff0000;"></i>';
        deleteBtn.className = 'btn';
        newLi.appendChild(deleteBtn);
        deleteBtn.addEventListener('click', function () {
          arrindex--
          deleteInput(newLi);
        });
      }
      InvNewinp.appendChild(newLi)

      newInputtitle.focus()
      window.scrollTo(0, document.body.scrollHeight);
      index++;
    }

    function deleteInput(inputLi) {

      if (inputLi.children[0].value != '')
        setarr(null, inputLi.children[0].id)

      if (inputLi.children[2].value != '')
        setarr('', inputLi.children[2].id)

      inputLi.remove();
    }

  </script>

  <script>

    let arrtext = []
    let arrnum = []
    let filterarrtext = [];
    let filterarrnum = [];

    function setarr(value, id) {
      // console.log(value + " / " + id.split("_")[2])
      let arrwrite = id.split("_")[1]
      let indexWrite = id.split("_")[2]

      if (arrwrite == 'text')
        arrtext[indexWrite] = value
      else { arrnum[indexWrite] = Number(value) }

      filterarrtext = arrtext.filter(function (value) {
        return value !== null && value !== undefined && value !== '';
      });

      filterarrnum = arrnum.filter(function (value) {
        return value !== null && value !== undefined && value !== 0 && value !== '';
      });


      console.log(JSON.stringify(filterarrtext) + ' / ' + JSON.stringify(filterarrnum))
      plusarr(filterarrnum.reduce((accumulator, currentValue) => accumulator + currentValue, 0))

    }

    let datareq = document.getElementById("data_req")
    let InpAllinvoice = document.getElementById("inp_allinvoice")
    let InpPaymoney = document.getElementById("inp_paymoney")
    let inplatsarr = document.getElementById("inp_latsarr")
    // console.log(datareq.innerHTML)
    // console.log(JSON.parse(datareq.innerHTML))

    let inpReqAddinvoice = document.getElementById("inp_ReqAdd_invoice")
    let arrAllInvoice = []
    let indlastarr;
    if (inpReqAddinvoice.value != '') {
      arrAllInvoice = JSON.parse(inpReqAddinvoice.value)
    }

    let lastindexarr = arrAllInvoice[arrAllInvoice.length -1]
    function datapost() {
      // اليوم/الشهر/السنة
      const currentDate = new Date();
      const day = currentDate.getDate();
      const month = currentDate.getMonth() + 1; // يبدأ الشهر من 0، لذلك نقوم بإضافة 1
      const year = currentDate.getFullYear();
      const dateFormatted = `${day}/${month}/${year}`;


      // الساعة
      let hours = currentDate.getHours();
      const minutes = currentDate.getMinutes();
      const seconds = currentDate.getSeconds();

      // تحويل الوقت إلى نظام 12 ساعة
      const ampm = hours >= 12 ? 'م' : 'ص';
      hours = hours % 12 || 12; // إذا كانت الساعة أكبر من 12، فالقيمة تصبح hours % 12، وإذا كانت الساعة 0، فتصبح 12

      const timeFormatted = `${hours}:${minutes}${ampm}`;

      // دمج القيم إذا أردت
      const fullDateTime = `${dateFormatted} | ${timeFormatted}`;



      let arrtime = new Array(filterarrnum.length);
      let arruser = new Array(filterarrnum.length);

      arrtime.fill(timeFormatted);
      arruser.fill(localStorage.getItem("name"));

      let sum = filterarrnum.reduce((accumulator, currentValue) => accumulator + currentValue, 0);



      let newdata = {
        date: String(dateFormatted),
        description: filterarrtext,
        money: filterarrnum,
        user: arruser,
        dateofregistration: arrtime,
        total: sum,
      }

      if (filterarrtext.length == arrindex && filterarrnum.length == arrindex) {

        if (OptInvoice == "inv_unprice")
          InpAllinvoice.value = Number(+InpAllinvoice.value + sum)
        else { InpPaymoney.value = Number(+InpPaymoney.value + sum) }

        if (arrAllInvoice.length != 0) {

          console.log(arrAllInvoice)
          if (lastindexarr.date == String(dateFormatted)) {

            lastindexarr.description = [...lastindexarr.description, ...filterarrtext]
            lastindexarr.money = [...lastindexarr.money, ...filterarrnum]
            lastindexarr.user = [...lastindexarr.user, ...arruser]
            lastindexarr.dateofregistration = [...lastindexarr.dateofregistration, ...arrtime]

            if(OptInvoice == "inv_unprice")
            lastindexarr.total += sum
            else
            lastindexarr.total -= sum

            datature()

          }
          else {
            if(+lastindexarr.total != 0){

              newdata.description.unshift('الفاتورة السابقة')
              newdata.money.unshift(lastindexarr.total)
              newdata.user.unshift(lastindexarr.date)
              newdata.dateofregistration.unshift('')
              // newdata.total += lastindexarr.total

              if(OptInvoice == "inv_unprice")
              newdata.total += lastindexarr.total
              else
              newdata.total = lastindexarr.total - newdata.total
            }
            
            arrAllInvoice.push(newdata)
            datature()
          }
        }
        else {
          arrAllInvoice.push(newdata)
          // inplatsarr.value = +arrAllInvoice.length - 1
          datature()
        }


        // if (arrAllInvoice.length != 0) {

        //   for (i = 0; i < arrAllInvoice.length; i++) {
        //     if (String(dateFormatted) == arrAllInvoice[i].date) {
        //       console.log(arrAllInvoice[i].date)
        //       if ((OptInvoice == "inv_unprice" && arrAllInvoice[i].description[0] != "تسديد مبلغ") || (OptInvoice == "inv_price" && arrAllInvoice[i].description[0] == "تسديد مبلغ")) {

        //         arrAllInvoice[i].description = [...arrAllInvoice[i].description, ...filterarrtext]
        //         arrAllInvoice[i].money = [...arrAllInvoice[i].money, ...filterarrnum]
        //         arrAllInvoice[i].user = [...arrAllInvoice[i].user, ...arruser]
        //         arrAllInvoice[i].dateofregistration = [...arrAllInvoice[i].dateofregistration, ...arrtime]
        //         arrAllInvoice[i].total += sum
        //         datature()
        //         console.log(arrAllInvoice[i].description[0] + ' / ' + OptInvoice)
        //         break;
        //       }
        //       else {
        //         if (i == arrAllInvoice.length - 1) {

        //           arrAllInvoice.push(newdata)
        //           datature()
        //           console.log(arrAllInvoice[1].description[0] + ' / ' + OptInvoice)
        //           break;
        //         }
        //       }
        //     }
        //     else {
        //       if (i == arrAllInvoice.length - 1) {

        //         arrAllInvoice.push(newdata)
        //         console.log(arrAllInvoice[1].description[0] + ' / ' + OptInvoice + ' | ' + String(dateFormatted) + '  ' + arrAllInvoice[2].date)
        //         datature()
        //         break;
        //       }
        //     }
        //   }

        // }
        // else {
        //   arrAllInvoice.push(newdata)
        //   datature()
        // }


      }


      // JSON.parse(inpReqAddinvoice.value)
      
      
      
    }
    function datature() {
      inpReqAddinvoice.value = JSON.stringify(arrAllInvoice)
      document.getElementById('myForm').click()
    }


  window.onload = function() {
    window.scrollTo(0, document.body.scrollHeight);

};


    let invText = document.querySelectorAll("#inv_text")
    let invNum = document.querySelectorAll(".inp_invoice")

    let totalinv = document.getElementById("total_inv")
    function plusarr(value) {
      totalinv.innerHTML = value
    }


    let mussegg
    let musseginv;
    let totalprice = 0;
    let invMs = document.querySelectorAll("#inv_Ms")

    btnwhats.addEventListener("click",(e) =>{
    musseginv = ''
    totalprice = 0
    for(i = 0; i < invMs.length; i++){
      if(invMs[i].innerHTML == 'تسديد مبلغ'){
        musseginv = ''
        totalprice -= +invMs[i+1].innerHTML
        if(totalprice != 0){
        musseginv = `*_حساب قديم_ => ${totalprice}ج*`
        }

      } 
      else if(invMs[i].innerHTML != 'الفاتورة السابقة'){
        
        musseginv += `
${invMs[i].innerHTML} => ${invMs[i+1].innerHTML}ج`
    totalprice += +invMs[i+1].innerHTML
      }

    
    i++
    }

      mussegg = `=-=-=-=-=-=-=-=-=-=-=-=-=
                 *الفاتورة*
=-=-=-=-=-=-=-=-=-=-=-=-=

${musseginv.replace(/^undefined\s*/g, '')}

==============
*الاجمالي: ${totalprice} جنيه*
==============

`

      let phone = e.target.getAttribute('data-')
      const phoneWithPlus = phone.replace(/^00/, '+');


      const url = `whatsapp://send?phone=${"+2"+phoneWithPlus}&text=${encodeURIComponent(mussegg)}`;
      window.open(url);

    })


  </script>



</body>

</html>